@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    html{
        min-width: 100vw;
    }
    body{
        display: flex;
        width: 100%;
        min-height: 100vh;
        overflow-x:hidden;
    }
    #root{
        flex-grow: 1;
        display: flex;
        justify-content: center;
    }
    .App{
        width: 100vw;
        /* height: 100vh; tester */
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
    }